body {
  background: #fff;
  text-transform: uppercase;
}

#background {
  position: fixed;
  top: 5px;
  left: 5px;
  bottom: 5px;
  right: 5px;
  transition: all .5s linear;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: linear-gradient(to top, #000, #000);
  z-index: -1;
}

#container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

#title {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  margin-top: 10px;
}

.banner {
  padding: 16px 24px;
  font-size: 18px;
  color: white;
}

#map {
  margin: auto;
}

#metro {
  display: inline;
  position: fixed;
  bottom: 0;
  left: 0;
  background: white;
  color: black;
  padding: 16px 24px;
  font-size: 18px;
}

.stm-point {
  fill: #eee;
  stroke: #eee;
}

.stm-target {
  z-index: 1;
  cursor: pointer;
  fill: transparent;
  stroke: transparent;
}

.stm-target:hover, .stm-target.active {
  fill: #fff;
}

.tipsy {
  padding-bottom: 5px;
  text-align: center;
}

.tipsy-inner {
  font-size: 16px;
  padding: 10px;
  background-color: #fff;
}
